include includes/form.pug
  .vendor-content
    mixin selectWithOther(fieldname, options)
      select.name = fieldname
        each option in options
          option(value=option.value)= option.text
        option(value="other") Other
      input.other(style="visibility:hidden", type="text", name=fieldname, disabled)


    form(action="/seller" method="POST" enctype="x-www-form-urlencoded")
      fieldset
        legend Vendor Information:
        label Company Name *
          input(type="text" name="companyName" placeholder="Company name" value=vendor.company required)
        label DBA
          input(type="text" name="dba" placeholder="Doing business as" value=vendor.dba)
        label Business Registration Number *
          input(type="text" name="regNum" placeholder="Business Registration #" value=vendor.business_reg_name required)
        label Address Line 1 *
          input(type="text" name="addressOne" placeholder="Address/P.O. Box/Company Name" value=vendor.address1 required)
        label Address Line 2
          input(type="text" name="addressTwo" placeholder="Apt/Suite/Unit/Building/Floor/etc" value=vendor.address2)
        label City *
          input(type="text" name="city" placeholder="City" required)
        label Zip Code *
          input(type="text" name="zip" placeholder="Zip Code" required)
        label Country *
          input(type="text" name="country" placeholder="Country" required)
        label Island *
          input(type="text" name="island" placeholder="Island" required)
        label Business Phone Number 1 *
          input(type="tel" name="phoneOne" placeholder="Business Number 1" value=vendor.business_ph required)
        label Business Phone Number 2
          input(type="tel" name="phoneTwo" placeholder="Business Number 2")
        label Sales Contact Phone Number *
          input(type="tel" name="salesNum" placeholder="Sales Number" value=vendor.sales_ph required)
        label E-mail *
          input(type="email" name="e_mail" placeholder="E-mail" value=vendor.email required)
        label Website
          input(type="url" name="website" placeholder="Website" value=vendor.website)
        label Image
          input(type="url" name="images" placeholder="Image Link" value=vendor.image)
        label Type of Business:
          +selectWithOther("bussinessType", [{"value": 1, "text": "Distributor"},{"value": 2, "text": "Grower"},{"value": 3, "text": "Manufacturer"},{"value": 4, "text": "Processor"},{"value": 5, "text": "Retailer"}, {"value": 6, "text": "Wholesaler"}])
        label Services:
          +selectWithOther("service", [{"value": 1, "text": "Food Service"},{"value": 2, "text": "Private Label"},{"value": 3, "text": "E-Commerce"},{"value": 4, "text": "Retail"}])
        label Markets:
          +selectWithOther("market", [{"value": 1, "text": "US Mainland"},{"value": 2, "text": "Hawaii"},{"value": 3, "text": "Japan"},{"value": 4, "text": "Canada"},{"value": 5, "text": "Australia"}, {"value": 6, "text": "Asia"},{"value": 7, "text":"Europe"},{"value": 8, "text": "Guam"}])
        label Certifications/Specialty:
          +selectWithOther("certificates", [{"value": 1, "text": "Certified Nursery"},{"value": 2, "text": "Certified Organic"},{"value": 3, "text": "Gluten Free"},{"value": 4, "text": "Halal"},{"value": 5, "text": "Kosher"}, {"value": 6, "text": "Vegan"},{"value": 7, "text":"Vegetarian"}])
        input(type="submit" value="Post" name="submitForm")
include includes/onChange.pug