doctype html
html(lang="en")
  include includes/head.pug
  body
    div.container
      include includes/nav.pug
      include includes/search.pug
      div.main-content
        div.vendor-content
          mixin selectWithOther(fieldname, options, values)
            each option in options
              -if(values)
                -var isChecked = values.indexOf(option.id) !== -1;
              label
                input(type="checkbox" name=fieldname value=option.id checked=isChecked)
                | #{option[fieldname]}
            input.other(style="visibility:hidden", type="text", name=fieldname, disabled)
          block form
            form(action="/vendor" method="POST" enctype="x-www-form-urlencoded")
              include includes/vendorFields.pug
      include includes/onChange.pug
      include includes/footer.pug